{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 4,
  "semi": true,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "requireConfig": false
}
