<section class="mx-auto pt-24 lg:pt-24 max-w-7xl p-4">
    <div class="mx-auto text-center max-w-2xl">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            Lựa chọn gói dịch vụ AI phối màu phù hợp cho không gian của bạn
        </h1>
        <p class="mt-2 text-lg leading-8 text-gray-600">
            Trải nghiệm các giải pháp phối màu sơn nhà với công nghệ AI hiện
            đại, mang đến sự hài lòng tối đa cho ngôi nhà của bạn.
        </p>
    </div>

    <div
        class="lg:grid-cols-3 mt-8 mx-auto grid place-items-center gap-10 items-stretch"
    >
        <!-- Free Plan -->
        <div
            class="justify-between rounded-3xl bg-white shadow-xl sm:p-10 flex flex-col p-8 ring-1 ring-gray-900/10 h-full"
        >
            <div>
                <p
                    class="text-base font-semibold leading-7 text-black"
                    id="tier-free"
                >
                    Gói Miễn Phí
                </p>
                <div class="mt-4 items-baseline flex gap-x-2">
                    <span
                        class="text-5xl font-bold tracking-tight text-gray-900"
                    >
                        $0
                    </span>
                    <span
                        class="text-base font-semibold leading-7 text-gray-600"
                    >
                        /tháng
                    </span>
                </div>
                <p class="mt-6 text-base leading-7 text-gray-600">
                    Dành cho những ai muốn trải nghiệm thử dịch vụ AI phối màu,
                    với những tính năng cơ bản để giúp bạn bắt đầu.
                </p>
                <ul
                    role="list"
                    class="mt-10 text-sm leading-6 text-gray-600 space-y-4"
                >
                    <li class="flex gap-x-3">
                        Phối màu cho 1 không gian
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        10 bảng phối màu có sẵn
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        Trải nghiệm tính năng xem trước hình ảnh trực quan
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="mt-10">
                <button
                    class="h-full w-full flex items-center justify-center rounded-full bg-black px-5 py-3 text-base font-semibold text-white shadow-xl transition-all duration-300 ease-in-out hover:shadow-lg focus:outline-none"
                >
                    Đăng ký miễn phí
                </button>
            </div>
        </div>
        <!-- Basic Plan -->
        <div
            class="justify-between rounded-3xl bg-white shadow-xl sm:p-10 flex flex-col p-8 ring-1 ring-gray-900/10 h-full"
        >
            <div>
                <p
                    class="text-base font-semibold leading-7 text-black"
                    id="tier-hobby"
                >
                    Gói Cơ Bản
                </p>
                <div class="mt-4 items-baseline flex gap-x-2">
                    <span
                        class="text-5xl font-bold tracking-tight text-gray-900"
                    >
                        $19
                    </span>
                    <span
                        class="text-base font-semibold leading-7 text-gray-600"
                    >
                        /tháng
                    </span>
                </div>
                <p class="mt-6 text-base leading-7 text-gray-600">
                    Gói dành cho cá nhân, cung cấp những tính năng phối màu sơn
                    cơ bản giúp bạn tạo phong cách riêng cho ngôi nhà của mình.
                </p>
                <ul
                    role="list"
                    class="mt-10 text-sm leading-6 text-gray-600 space-y-4"
                >
                    <li class="flex gap-x-3">
                        Phối màu cho 5 không gian
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        50 bảng phối màu có sẵn
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        Tùy chọn tải hình ảnh trực quan của ngôi nhà
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        Hỗ trợ khách hàng qua email trong vòng 24 giờ
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="mt-10">
                <button
                    class="h-full w-full flex items-center justify-center rounded-full bg-black px-5 py-3 text-base font-semibold text-white shadow-xl transition-all duration-300 ease-in-out hover:shadow-lg focus:outline-none"
                >
                    Bắt đầu ngay hôm nay
                </button>
            </div>
        </div>

        <!-- Pro Plan -->
        <div
            class="justify-between rounded-3xl bg-white shadow-xl sm:p-10 flex flex-col p-8 ring-1 ring-gray-900/10 h-full"
        >
            <div>
                <p
                    class="text-base font-semibold leading-7 text-black"
                    id="tier-pro"
                >
                    Gói Chuyên Nghiệp
                </p>
                <div class="mt-4 items-baseline flex gap-x-2">
                    <span
                        class="text-5xl font-bold tracking-tight text-gray-900"
                    >
                        $49
                    </span>
                    <span
                        class="text-base font-semibold leading-7 text-gray-600"
                    >
                        /tháng
                    </span>
                </div>
                <p class="mt-6 text-base leading-7 text-gray-600">
                    Gói dành cho các nhà thiết kế và chuyên gia nội thất, cung
                    cấp các tính năng AI nâng cao để tối ưu hóa phối màu cho
                    nhiều không gian.
                </p>
                <ul
                    role="list"
                    class="mt-10 text-sm leading-6 text-gray-600 space-y-4"
                >
                    <li class="flex gap-x-3">
                        Phối màu cho 20 không gian
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        200 bảng phối màu cao cấp
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        Tích hợp công cụ AI phân tích ánh sáng và không gian
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        Hỗ trợ khách hàng qua email và chat trực tiếp 24/7
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                    <li class="flex gap-x-3">
                        Phân tích và đề xuất màu dựa trên phong thủy và xu hướng
                        nội thất
                        <svg
                            class="h-6 w-5 text-black flex-none"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="mt-10">
                <button
                    class="h-full w-full flex items-center justify-center rounded-full bg-black px-5 py-3 text-base font-semibold text-white shadow-xl transition-all duration-300 ease-in-out hover:shadow-lg focus:outline-none"
                >
                    Nâng cấp ngay
                </button>
            </div>
        </div>
    </div>
</section>
