<nz-layout class="h-full bg-gray-50">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    class="bg-white shadow-lg"
  >
    <div
      class="logo flex items-center justify-center p-5 transition-all duration-300 ease-in-out"
    >
      @if (!isCollapsed) {
        <h2
          class="font-bold text-md text-gray-800 transition-all duration-300 ease-in-out"
        >
          Đại Minh Việt Nam
        </h2>
      } @else {
        <img
          src="/favicon.ico"
          alt="Đại Minh Việt Nam Logo"
          class="w-10 h-10 transition-all duration-300 ease-in-out"
        />
      }
    </div>
    <nav>
      <ul nz-menu nzTheme="light" nzMode="inline">
        @for (menu of menuItems; track menu.title) {
          @if (menu.children && menu.children.length > 0) {
            <li
              nz-submenu
              [nzTitle]="menu.title"
              [nzIcon]="menu.icon?.type || null"
              [nzOpen]="isOpen(menu)"
              (nzOpenChange)="handleMenuOpenChange(menu)"
            >
              <ul>
                @for (item of menu.children; track item.title) {
                  <li
                    nz-menu-item
                    [routerLinkActive]="['selected']"
                    class="hover:bg-gray-100 rounded-md transition-colors duration-200"
                    [nzSelected]="isSelected(item.path ?? '')"
                  >
                    @if (item.path) {
                      <a
                        [routerLink]="item.path"
                        [target]="item.newLinkFlag ? '_blank' : '_self'"
                        class="flex items-center gap-2 p-2"
                      >
                        @if (item.icon) {
                          <span
                            nz-icon
                            [nzType]="item.icon.type"
                            [nzTheme]="item.icon.theme || 'outline'"
                            class="text-gray-600"
                          ></span>
                        }
                        <span class="text-sm font-medium">{{
                          item.title
                        }}</span>
                      </a>
                    } @else {
                      <div class="flex items-center gap-2 p-2">
                        @if (item.icon) {
                          <span
                            nz-icon
                            [nzType]="item.icon.type"
                            [nzTheme]="item.icon.theme || 'outline'"
                            class="text-gray-600"
                          ></span>
                        }
                        <span class="text-sm font-medium">{{
                          item.title
                        }}</span>
                      </div>
                    }
                  </li>
                }
              </ul>
            </li>
          } @else {
            <li
              nz-menu-item
              [routerLinkActive]="['selected']"
              class="hover:bg-gray-100 rounded-md transition-colors duration-200"
              [nzSelected]="isSelected(menu.path ?? '')"
            >
              @if (menu.path) {
                <a
                  [routerLink]="menu.path"
                  [target]="menu.newLinkFlag ? '_blank' : '_self'"
                  class="flex items-center gap-2"
                >
                  @if (menu.icon) {
                    <span
                      nz-icon
                      [nzType]="menu.icon.type"
                      [nzTheme]="menu.icon.theme || 'outline'"
                      class="text-gray-600"
                    ></span>
                  }
                  <span class="text-sm font-medium">{{ menu.title }}</span>
                </a>
              } @else {
                <div class="flex items-center gap-2">
                  @if (menu.icon) {
                    <span
                      nz-icon
                      [nzType]="menu.icon.type"
                      [nzTheme]="menu.icon.theme || 'outline'"
                      class="text-gray-600"
                    ></span>
                  }
                  <span class="text-sm font-medium">{{ menu.title }}</span>
                </div>
              }
            </li>
          }
        }
      </ul>
    </nav>
  </nz-sider>

  <nz-layout>
    <nz-header class="bg-white shadow-md flex items-center p-4 justify-between">
      <span
        class="trigger text-gray-700 cursor-pointer"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed; $event.stopPropagation()"
        (keyup)="isCollapsed = !isCollapsed; $event.stopPropagation()"
        tabindex="0"
      ></span>

      <div class="relative flex items-center space-x-4">
        <span nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Tìm kiếm">
          <i nz-icon nzTheme="outline" nzType="search"></i>
        </span>
        <div class="relative inline-block text-left">
          <span
            nz-dropdown
            [nzDropdownMenu]="userSettingMenu"
            [nzPlacement]="'bottomRight'"
            class="flex items-center space-x-2"
          >
            <nz-avatar nzIcon="user" class="h-8 w-8"></nz-avatar>
            <span class="text-gray-800 font-semibold">Admin</span>
          </span>

          <nz-dropdown-menu #userSettingMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  >Profile</a
                >
              </li>
              <li nz-menu-item>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  >Settings</a
                >
              </li>
              <li nz-menu-item>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  >Logout</a
                >
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content class="p-6">
      <nz-breadcrumb class="mb-4">
        <nz-breadcrumb-item>
          <a>Trang chủ</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>Quản lý</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Chi tiết</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="bg-white p-6 rounded-lg shadow-md">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="bg-white text-center p-4 shadow-md">
      <span class="text-gray-700 text-sm font-medium">Đại Minh Việt Nam</span>
    </nz-footer>
  </nz-layout>
</nz-layout>
