<footer class="pt-8 pb-16 mt-8 px-4 w-full bg-white footer-shadow">
    <div class="mx-auto max-w-7xl xl:grid xl:grid-cols-3 xl:gap-8">
        <!-- Phần Đăng Ký Nhận Bản Tin -->
        <section class="mt-10 xl:mt-0">
            <h2 class="text-sm font-semibold leading-6 text-black">
                Đăng ký nhận bản tin của chúng tôi
            </h2>
            <p class="mt-2 text-sm leading-6 text-gray-800">
                Những tin tức, bài viết và tài nguyên mới nhất, được gửi đến hộp
                thư của bạn hàng tuần.
            </p>
            <form
                class="mt-6 flex items-center sm:max-w-md"
                aria-label="Đăng ký bản tin"
            >
                <label for="email-address" class="sr-only">Địa chỉ email</label>
                <div class="relative w-full">
                    <input
                        type="email"
                        name="email-address"
                        autocomplete="email"
                        required
                        class="w-full rounded-full bg-white border-0 ring-1 ring-gray-300 focus:ring-2 focus:ring-black placeholder-gray-400 shadow-lg px-5 py-3 text-base text-gray-800 transition duration-300 ease-in-out hover:ring-gray-400"
                        id="email-address"
                        placeholder="Nhập email của bạn"
                    />
                    <button
                        type="submit"
                        class="absolute right-0 top-0 h-full flex items-center justify-center rounded-full bg-black hover:bg-gray-700 px-5 py-2 text-base font-semibold text-white shadow-md transition duration-300 ease-in-out"
                    >
                        Đăng ký
                    </button>
                </div>
            </form>
        </section>

        <!-- Phần Danh Mục -->
        <div
            class="mt-10 xl:mt-0 xl:col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-6 sm:gap-8"
        >
            <!-- Cột Danh Mục Đầu Tiên -->
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <div>
                    <h3 class="text-sm font-semibold leading-6 text-black">
                        Tài nguyên
                    </h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Tiếp thị
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Phân tích
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Thương mại
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mt-10 md:mt-0">
                    <h3 class="text-sm font-semibold leading-6 text-black">
                        Công ty
                    </h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Giá cả
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Hướng dẫn
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Sứ mệnh và Giá trị
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Cột Danh Mục Thứ Hai -->
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <div>
                    <h3 class="text-sm font-semibold leading-6 text-black">
                        Về Chúng Tôi
                    </h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Giới thiệu
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Blog
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Đội ngũ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mt-10 md:mt-0">
                    <h3 class="text-sm font-semibold leading-6 text-black">
                        Pháp lý
                    </h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Đòi hỏi
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Chính sách Bảo mật
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-gray-800 hover:text-black"
                            >
                                Điều khoản
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
