<section class="mx-auto pt-24 lg:pt-24 max-w-7xl p-4">
    <div class="mx-auto text-center max-w-2xl">
        <h1 class="text-3xl md:text-5xl font-bold tracking-tight text-black">
            Liên Hệ Với Chúng Tôi
        </h1>
        <p class="mt-4 text-lg text-gray-600">
            Khám phá mô hình AI tiên tiến giúp phối màu 3D cho ngôi nhà của bạn.
            Sử dụng công nghệ trí tuệ nhân tạo, bạn dễ dàng hình dung và lựa
            chọn màu sơn phù hợp. Tiết kiệm thời gian và nâng cao sự tự tin khi
            ra quyết định. Hãy liên hệ với chúng tôi để biết thêm thông tin!
        </p>
    </div>

    <form
        class="mx-auto mt-16 sm:mt-20 max-w-xl bg-white shadow-xl rounded-xl p-6"
    >
        <div class="grid sm:grid-cols-2 gap-x-8 gap-y-6">
            <div>
                <label
                    for="first-name"
                    class="text-sm font-semibold text-gray-900 block"
                >
                    Họ
                </label>
                <div class="mt-2.5">
                    <input
                        type="text"
                        name="first-name"
                        autocomplete="given-name"
                        class="w-full border rounded-lg ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-black placeholder:text-gray-400 px-5 py-3 text-base text-gray-800 transition duration-300 ease-in-out sm:text-sm hover:ring-2 hover:ring-gray-400"
                        id="first-name"
                        required
                    />
                </div>
            </div>
            <div>
                <label
                    for="last-name"
                    class="text-sm font-semibold text-gray-900 block"
                >
                    Tên
                </label>
                <div class="mt-2.5">
                    <input
                        type="text"
                        name="last-name"
                        autocomplete="family-name"
                        class="w-full border rounded-lg ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-black placeholder:text-gray-400 px-5 py-3 text-base text-gray-800 transition duration-300 ease-in-out sm:text-sm hover:ring-2 hover:ring-gray-400"
                        id="last-name"
                        required
                    />
                </div>
            </div>
            <div class="sm:col-span-2">
                <label
                    for="email"
                    class="text-sm font-semibold text-gray-900 block"
                >
                    Email
                </label>
                <div class="mt-2.5">
                    <input
                        type="email"
                        name="email"
                        placeholder="Nhập địa chỉ email của bạn"
                        autocomplete="email"
                        class="w-full border rounded-lg ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-black placeholder:text-gray-400 px-5 py-3 text-base text-gray-800 transition duration-300 ease-in-out sm:text-sm hover:ring-2 hover:ring-gray-400"
                        id="email"
                        required
                    />
                </div>
            </div>
            <div class="sm:col-span-2">
                <label
                    for="phone-number"
                    class="text-sm font-semibold text-gray-900 block"
                >
                    Số điện thoại
                </label>
                <div class="mt-2.5">
                    <input
                        type="tel"
                        name="phone-number"
                        id="phone-number"
                        class="w-full border rounded-lg ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-black placeholder:text-gray-400 px-5 py-3 text-base text-gray-800 transition duration-300 ease-in-out sm:text-sm hover:ring-2 hover:ring-gray-400"
                        placeholder="Nhập số điện thoại của bạn"
                        required
                    />
                </div>
            </div>
            <div class="sm:col-span-2">
                <label
                    for="message"
                    class="text-sm font-semibold text-gray-900 block"
                >
                    Thông điệp
                </label>
                <div class="mt-2.5">
                    <textarea
                        name="message"
                        rows="4"
                        class="w-full border rounded-lg ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-black placeholder:text-gray-400 px-5 py-3 text-base text-gray-800 transition duration-300 ease-in-out sm:text-sm hover:ring-2 hover:ring-gray-400"
                        id="message"
                        placeholder="Nêu ý kiến hoặc yêu cầu của bạn"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="mt-10">
            <button
                class="h-full w-full flex items-center justify-center rounded-full bg-black px-5 py-3 text-base font-semibold text-white shadow-xl transition-all duration-300 ease-in-out hover:shadow-lg focus:outline-none"
            >
                Liên hệ ngay
            </button>
        </div>
    </form>
</section>
