<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-3xl font-semibold mb-8 text-center text-gray-800">
            Login
        </h2>
        <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Email Field -->
            <div nz-form-item class="mb-4">
                <div nz-form-label>
                    <label
                        for="email"
                        class="block text-sm font-medium text-gray-700"
                        >Email</label
                    >
                </div>
                <div nz-form-control>
                    <input
                        nz-input
                        formControlName="email"
                        id="email"
                        placeholder="Enter your email"
                        [ngClass]="{
                            'border-red-500':
                                loginForm.get('email')?.invalid &&
                                loginForm.get('email')?.touched,
                            'border-gray-300': !(
                                loginForm.get('email')?.invalid &&
                                loginForm.get('email')?.touched
                            ),
                        }"
                        class="block w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
                <!-- Error message for email -->
                <div
                    class="text-red-500 mt-1 text-sm"
                    *ngIf="
                        loginForm.get('email')?.invalid &&
                        loginForm.get('email')?.touched
                    ">
                    <span *ngIf="loginForm.get('email')?.errors?.['required']"
                        >Email is required.</span
                    >
                    <span *ngIf="loginForm.get('email')?.errors?.['email']"
                        >Please enter a valid email address.</span
                    >
                </div>
            </div>

            <!-- Password Field -->
            <div nz-form-item class="mb-4">
                <div nz-form-label>
                    <label
                        for="password"
                        class="block text-sm font-medium text-gray-700"
                        >Password</label
                    >
                </div>
                <div nz-form-control>
                    <input
                        nz-input
                        type="password"
                        formControlName="password"
                        id="password"
                        placeholder="Enter your password"
                        [ngClass]="{
                            'border-red-500':
                                loginForm.get('password')?.invalid &&
                                loginForm.get('password')?.touched,
                            'border-gray-300': !(
                                loginForm.get('password')?.invalid &&
                                loginForm.get('password')?.touched
                            ),
                        }"
                        class="block w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
                <!-- Error message for password -->
                <div
                    class="text-red-500 mt-1 text-sm"
                    *ngIf="
                        loginForm.get('password')?.invalid &&
                        loginForm.get('password')?.touched
                    ">
                    <span
                        *ngIf="loginForm.get('password')?.errors?.['required']"
                        >Password is required.</span
                    >
                    <span
                        *ngIf="loginForm.get('password')?.errors?.['minlength']"
                        >Password must be at least 6 characters long.</span
                    >
                </div>
            </div>

            <button
                nz-button
                nzType="primary"
                class="w-full py-2 px-4 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                [disabled]="!loginForm.valid">
                Login
            </button>
        </form>
    </div>
</div>
