<dm-bg-svg></dm-bg-svg>

<div
    class="flex flex-col items-center justify-center min-h-screen text-center mx-auto max-w-2xl py-8 px-4"
>
    <h1 class="text-5xl font-bold mb-4">AI phối màu 3D cho ngôi nhà của bạn</h1>
    <p class="text-xs font-semibold mb-2 text-gray-700 uppercase">
        Khám Phá Công Nghệ Mới
    </p>
    <p class="text-gray-600 mb-6">
        Khám phá model AI tiên tiến giúp phối màu 3D cho ngôi nhà của bạn. Sử
        dụng công nghệ trí tuệ nhân tạo, bạn dễ dàng hình dung và lựa chọn màu
        sơn phù hợp. Tiết kiệm thời gian và nâng cao sự tự tin khi ra quyết
        định.
    </p>
    <form class="sm:flex items-center justify-center gap-2 w-full">
        <div class="relative w-full lg:max-w-sm">
            <input
                type="email"
                placeholder="Nhập địa chỉ email của bạn..."
                class="min-w-0 appearance-none border-0 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-black focus:outline-none w-full rounded-full bg-white px-5 py-3 text-base text-gray-800 shadow-lg pr-16 transition-all duration-300 ease-in-out placeholder-gray-400 hover:ring-2 hover:ring-gray-400"
                required
            />
            <button
                type="submit"
                class="absolute right-0 top-0 h-full flex items-center justify-center rounded-full bg-black hover:bg-gray-700 px-5 py-2 text-base font-semibold text-white shadow-md transition-all duration-300 ease-in-out hover:shadow-lg focus:outline-none"
            >
                Đăng Ký
            </button>
        </div>
    </form>
    <p class="mt-4 text-gray-400 text-sm">
        Copyright © 2024, All rights reserved.
    </p>
</div>
